.button {
    background-color: #6610f2;
    border-color: #6610f2;
}

.button:hover {
    background-color: #370785;
    border-color: #370785;
}

.button:focus{
    background-color: #370785;
    border-color: #370785;
    box-shadow: 2px 2px 2px 2px rgba(103, 16, 242, 0.4) !important;
}

.input:focus {
    border-color: #6610f2;
    box-shadow: 2px 2px 2px 2px rgba(103, 16, 242, 0.4) !important;
}

.modal-header {
    background-color: #6610f2;
    color: #fff;
}